  @import "../../assets/styles/styles.scss";

.bar{
  width: 250px;
  background-color: rgb(41, 41, 41);
  color: rgb(255, 255, 255);
  z-index: 2;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.26);

  img{
    width: 150px;
    padding-top: 150px;
    padding-bottom: 20px;
  }
}

.sidebarContent{
  width: 250px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}